In [12]:
import math
import numpy as np
import pandas as pd

In [32]:
# Training and test data files
train_file = '../input/train.csv'
test_file = '../input/test.csv'
model_file = '../output/titanic.model.json'
model_weights_file = '../output/titanic.model.best.hdf5'
pred_file = '../output/gender_submission.csv'

In [33]:
# Load training data
df_train = pd.read_csv(train_file)
print(df_train.shape)
df_train.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
# Extract survived data as predictions: 0 = Died, 1 = Survived
from keras.utils.np_utils import to_categorical
y_train = to_categorical(df_train["Survived"], 2)
df_train.pop('Survived')
print(y_train.shape)
print(y_train[0:5])

(891, 2)
[[ 1.  0.]
 [ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]
 [ 1.  0.]]

In [35]:
# Prepare the rest of the data for training
from sklearn.preprocessing import MinMaxScaler

max_name_len = df_train.Name.map(len).max()    

title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev', 'Dr', 'Ms', 'Mlle',
            'Col', 'Capt', 'Mme', 'Countess', 'Don', 'Jonkheer']

import string
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if substring in big_string:
            return substring
    return np.nan

def prep_data(frame):
    frame = frame.fillna(0)

    # Creating new family_size and fare per person columns 
    frame['Family_Size'] = frame['SibSp'] + frame['Parch'] + 1
    frame['Fare_Per_Person'] = frame['Fare']/frame['Family_Size']

    # Convert Sex and Embarked to number
    frame['Sex'] = pd.Categorical(frame['Sex']).codes
    frame['Embarked'] = pd.Categorical(frame['Embarked']).codes
    
    # Extract title from name
    frame['Title'] = frame['Name'].map(lambda x: substrings_in_string(x, title_list))
    frame['Title'] = pd.Categorical(frame['Title']).codes

    # Convert Name into characters
    frame['Name_Length'] = frame.apply(lambda row: len(row['Name']), axis=1)
#    for i in range(0, max_name_len):
#        col_name = 'Name' + str(i)
#        frame[col_name] = frame['Name'].str[i]
#        frame[col_name] = frame.apply(lambda row: ord(' ') if isinstance(row[col_name], float) and math.isnan(row[col_name]) else ord(row[col_name]), axis=1)
    frame.pop('Name')

    
    
    # TODO: Ignore Ticket for now
    frame.pop('Ticket')
    
    # Convert Cabin column to whether in cabin
    frame['In_Cabin'] = frame.apply(lambda row: 1 if row['Cabin'] != 0 else 0, axis=1)
    frame.pop('Cabin')
    
    print("Before scaling: ")
    print(frame.head())
    
    # Scale everything except PassengerId
    min_max_scaler = MinMaxScaler()
    col_list = frame.columns.tolist()
    col_list.remove('PassengerId')
    frame = frame[col_list]
    np_scaled = min_max_scaler.fit_transform(frame)
    frame = pd.DataFrame(np_scaled)
    
    print("After scaling: ")
    print(frame.head())

    return frame

In [36]:
# Prepare the rest of the data for training
df_train = prep_data(df_train)
X_train = np.array(df_train)[:,:]
X_train = X_train.astype('float32')
print(X_train.shape)
print(X_train[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0            1       3    1  22.0      1      0   7.2500         3
1            2       1    0  38.0      1      0  71.2833         1
2            3       3    0  26.0      0      0   7.9250         3
3            4       1    0  35.0      1      0  53.1000         3
4            5       3    1  35.0      0      0   8.0500         3

   Family_Size  Fare_Per_Person  Title  Name_Length  In_Cabin
0            2          3.62500     11           23         0
1            2         35.64165     12           51         1
2            1          7.92500      8           22         0
3            2         26.55000     12           44         1
4            1          8.05000     11           24         0
After scaling:
    0    1       2      3    4         5         6    7         8         9   \
0  1.0  1.0  0.2750  0.125  0.0  0.014151  1.000000  0.1  0.007076  0.785714
1  0.0  0.0  0.4750  0.125  0.0  0.139136  0.333333  0.1  0.069568  0.857143
2  1.0  0.0  0.3250  0.000  0.0  0.015469  1.000000  0.0  0.015469  0.571429
3  0.0  0.0  0.4375  0.125  0.0  0.103644  1.000000  0.1  0.051822  0.857143
4  1.0  1.0  0.4375  0.000  0.0  0.015713  1.000000  0.0  0.015713  0.785714

         10   11
0  0.157143  0.0
1  0.557143  1.0
2  0.142857  0.0
3  0.457143  1.0
4  0.171429  0.0
(891, 12)
[ 1.          1.          0.27500001  0.125       0.          0.01415106
  1.          0.1         0.00707553  0.78571427  0.15714286  0.        ]

In [47]:
# Build a training network

from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.optimizers import SGD
from keras.layers.advanced_activations import LeakyReLU

model = Sequential()
model.add(Dense(512, activation='relu', input_shape=(X_train.shape[1], )))
model.add(Dense(512, activation='relu'))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(256, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(2, activation='sigmoid'))

model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_23 (Dense)             (None, 512)               6656
_________________________________________________________________
dense_24 (Dense)             (None, 512)               262656
_________________________________________________________________
dense_25 (Dense)             (None, 512)               262656
_________________________________________________________________
dropout_11 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_26 (Dense)             (None, 256)               131328
_________________________________________________________________
dense_27 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_28 (Dense)             (None, 256)               65792
_________________________________________________________________
dropout_12 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_29 (Dense)             (None, 2)                 514
=================================================================
Total params: 795,394
Trainable params: 795,394
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Train the model
checkpointer = ModelCheckpoint(filepath=model_weights_file, verbose=1, save_best_only=True)
stopper = EarlyStopping(monitor='val_loss', min_delta=1e-5, patience=10, verbose=1, mode='auto')
hist = model.fit(X_train, y_train, epochs=1000, batch_size=10, validation_split=0.2, 
                 callbacks=[checkpointer, stopper], 
                 verbose=1, shuffle=True)

Train on 712 samples, validate on 179 samples
Epoch 1/1000
700/712 [============================>.] - ETA: 0s - loss: 0.5550 - acc: 0.7214Epoch 00000: val_loss improved from inf to 0.40748, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 2s - loss: 0.5577 - acc: 0.7219 - val_loss: 0.4075 - val_acc: 0.8324
Epoch 2/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4852 - acc: 0.7972Epoch 00001: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4950 - acc: 0.7949 - val_loss: 0.5569 - val_acc: 0.7654
Epoch 3/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4801 - acc: 0.7841Epoch 00002: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4851 - acc: 0.7795 - val_loss: 0.4256 - val_acc: 0.8436
Epoch 4/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4807 - acc: 0.7915Epoch 00003: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4824 - acc: 0.7907 - val_loss: 0.5839 - val_acc: 0.8045
Epoch 5/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4745 - acc: 0.7986Epoch 00004: val_loss improved from 0.40748 to 0.38741, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4733 - acc: 0.7992 - val_loss: 0.3874 - val_acc: 0.8324
Epoch 6/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4789 - acc: 0.8072Epoch 00005: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4851 - acc: 0.8062 - val_loss: 0.3925 - val_acc: 0.8380
Epoch 7/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4693 - acc: 0.8070Epoch 00006: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4685 - acc: 0.8076 - val_loss: 0.3878 - val_acc: 0.8436
Epoch 8/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4634 - acc: 0.8174Epoch 00007: val_loss improved from 0.38741 to 0.37825, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4626 - acc: 0.8174 - val_loss: 0.3782 - val_acc: 0.8324
Epoch 9/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4771 - acc: 0.8029Epoch 00008: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4697 - acc: 0.8048 - val_loss: 0.5087 - val_acc: 0.8156
Epoch 10/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4492 - acc: 0.8265Epoch 00009: val_loss improved from 0.37825 to 0.36914, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4476 - acc: 0.8258 - val_loss: 0.3691 - val_acc: 0.8436
Epoch 11/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4413 - acc: 0.8174Epoch 00010: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4457 - acc: 0.8132 - val_loss: 0.3785 - val_acc: 0.8659
Epoch 12/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4518 - acc: 0.8243Epoch 00011: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4516 - acc: 0.8244 - val_loss: 0.3878 - val_acc: 0.8603
Epoch 13/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4454 - acc: 0.8114- ETA: 0s - loss: 0.4475 - acc: 0.810Epoch 00012: val_loss improved from 0.36914 to 0.36253, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4462 - acc: 0.8090 - val_loss: 0.3625 - val_acc: 0.8436
Epoch 14/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4457 - acc: 0.8261Epoch 00013: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4436 - acc: 0.8258 - val_loss: 0.4051 - val_acc: 0.8492
Epoch 15/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4407 - acc: 0.8171Epoch 00014: val_loss did not improve
712/712 [==============================] - 2s - loss: 0.4364 - acc: 0.8188 - val_loss: 0.6165 - val_acc: 0.8436
Epoch 16/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4456 - acc: 0.8239Epoch 00015: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4434 - acc: 0.8230 - val_loss: 0.4917 - val_acc: 0.8324
Epoch 17/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4587 - acc: 0.8169Epoch 00016: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4582 - acc: 0.8174 - val_loss: 0.3990 - val_acc: 0.8324
Epoch 18/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4414 - acc: 0.8200Epoch 00017: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4421 - acc: 0.8188 - val_loss: 0.3764 - val_acc: 0.8603
Epoch 19/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4398 - acc: 0.8186Epoch 00018: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4373 - acc: 0.8202 - val_loss: 0.3996 - val_acc: 0.8547
Epoch 20/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4222 - acc: 0.8246Epoch 00019: val_loss improved from 0.36253 to 0.35623, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4304 - acc: 0.8216 - val_loss: 0.3562 - val_acc: 0.8324
Epoch 21/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4152 - acc: 0.8368Epoch 00020: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4354 - acc: 0.8329 - val_loss: 0.3909 - val_acc: 0.8659
Epoch 22/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4295 - acc: 0.8296Epoch 00021: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4286 - acc: 0.8301 - val_loss: 0.3600 - val_acc: 0.8436
Epoch 23/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4574 - acc: 0.8232Epoch 00022: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4523 - acc: 0.8244 - val_loss: 0.6316 - val_acc: 0.8380
Epoch 24/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4656 - acc: 0.8314Epoch 00023: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4627 - acc: 0.8329 - val_loss: 0.4046 - val_acc: 0.8436
Epoch 25/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4688 - acc: 0.8224Epoch 00024: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4667 - acc: 0.8244 - val_loss: 0.4327 - val_acc: 0.8101
Epoch 26/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4171 - acc: 0.8366Epoch 00025: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4178 - acc: 0.8357 - val_loss: 0.4256 - val_acc: 0.8547
Epoch 27/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4255 - acc: 0.8338Epoch 00026: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4272 - acc: 0.8343 - val_loss: 0.5659 - val_acc: 0.8268
Epoch 28/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4580 - acc: 0.8290Epoch 00027: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4565 - acc: 0.8301 - val_loss: 0.4660 - val_acc: 0.8268
Epoch 29/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4612 - acc: 0.8290Epoch 00028: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4549 - acc: 0.8315 - val_loss: 0.5525 - val_acc: 0.8715
Epoch 30/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4190 - acc: 0.8257Epoch 00029: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4195 - acc: 0.8244 - val_loss: 0.6811 - val_acc: 0.8101
Epoch 31/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4699 - acc: 0.8113Epoch 00030: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4687 - acc: 0.8118 - val_loss: 0.5659 - val_acc: 0.8380
Epoch 00030: early stopping

In [49]:
# Load the weights that yielded the best validation accuracy
model.load_weights(model_weights_file)

# Evaluate the model on the training set
score = model.evaluate(X_train, y_train)
print("\n Training Accuracy:", score[1])

891/891 [==============================] - 0s

 Training Accuracy: 0.839506173709

In [50]:
# Load test data
df_test_raw = pd.read_csv(test_file)
print(df_test_raw.shape)
df_test_raw.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [51]:
# Prepare the data for testing
df_test = prep_data(df_test_raw)
X_test = np.array(df_test)[:,:]
X_test = X_test.astype('float32')
print(X_test.shape)
print(X_test[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

   Family_Size  Fare_Per_Person  Title  Name_Length  In_Cabin
0            1         7.829200      5           16         0
1            2         3.500000      6           32         0
2            1         9.687500      5           25         0
3            1         8.662500      5           16         0
4            3         4.095833      6           44         0
After scaling:
    0    1         2      3         4         5    6    7         8      9   \
0  1.0  1.0  0.453947  0.000  0.000000  0.015282  0.5  0.0  0.029840  0.625
1  1.0  0.0  0.618421  0.125  0.000000  0.013663  1.0  0.1  0.013340  0.750
2  0.5  1.0  0.815789  0.000  0.000000  0.018909  0.5  0.0  0.036922  0.625
3  1.0  1.0  0.355263  0.000  0.000000  0.016908  1.0  0.0  0.033016  0.625
4  1.0  0.0  0.289474  0.125  0.111111  0.023984  1.0  0.2  0.015611  0.750

     10   11
0  0.06  0.0
1  0.38  0.0
2  0.24  0.0
3  0.06  0.0
4  0.62  0.0
(418, 12)
[ 1.          1.          0.45394737  0.          0.          0.01528158
  0.5         0.          0.02983973  0.625       0.06        0.        ]

In [52]:
# Predict for test data
y_test = model.predict(X_test)
print(y_test[0])

[ 0.99957401  0.06453325]

In [53]:
# Save predictions
with open(pred_file, 'w') as f:
    f.write('PassengerId,Survived\n')
    for index, y_hat in enumerate(y_test):
        prediction = np.argmax(y_hat)
        f.write(str(df_test_raw.iloc[index]['PassengerId']) + ',' + str(prediction)+'\n')
    f.close()