In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
# Training and test data files
train_file = '../input/train.csv'
test_file = '../input/test.csv'
model_file = '../output/titanic.model.json'
model_weights_file = '../output/titanic.model.best.hdf5'
pred_file = '../output/gender_submission.csv'

In [3]:
# Load training data
df_train = pd.read_csv(train_file)
print(df_train.shape)
df_train.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Extract survived data as predictions: 0 = Died, 1 = Survived
from keras.utils.np_utils import to_categorical
y_train = to_categorical(df_train["Survived"], 2)
df_train.pop('Survived')
print(y_train.shape)
print(y_train[0:5])

Using TensorFlow backend.

(891, 2)
[[ 1.  0.]
 [ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]
 [ 1.  0.]]

In [5]:
# Prepare the rest of the data for training
from sklearn.preprocessing import MinMaxScaler

max_name_len = df_train.Name.map(len).max()    

def prep_data(frame):
    frame = frame.fillna(0)

    # Creating new family_size and fare per person columns 
    frame['Family_Size'] = frame['SibSp'] + frame['Parch'] + 1
    frame['Fare_Per_Person'] = frame['Fare']/frame['Family_Size']

    # Convert Sex and Embarked to number
    frame['Sex'] = pd.Categorical(frame['Sex']).codes
    frame['Embarked'] = pd.Categorical(frame['Embarked']).codes
    
    # Convert Name into characters
    frame['Name_Length'] = frame.apply(lambda row: len(row['Name']), axis=1)
    for i in range(0, max_name_len):
        col_name = 'Name' + str(i)
        frame[col_name] = frame['Name'].str[i]
        frame[col_name] = frame.apply(lambda row: ord(' ') if isinstance(row[col_name], float) and math.isnan(row[col_name]) else ord(row[col_name]), axis=1)
    frame.pop('Name')
    
    # TODO: Ignore Ticket for now
    frame.pop('Ticket')
    
    # Convert Cabin column to whether in cabin
    frame['In_Cabin'] = frame.apply(lambda row: 1 if row['Cabin'] != 0 else 0, axis=1)
    frame.pop('Cabin')
    
    print("Before scaling: ")
    print(frame.head())
    
    # Scale everything except PassengerId
    min_max_scaler = MinMaxScaler()
    col_list = frame.columns.tolist()
    col_list.remove('PassengerId')
    frame = frame[col_list]
    np_scaled = min_max_scaler.fit_transform(frame)
    frame = pd.DataFrame(np_scaled)
    
    print("After scaling: ")
    print(frame.head())

    return frame

In [6]:
# Prepare the rest of the data for training
df_train = prep_data(df_train)
X_train = np.array(df_train)[:,:]
X_train = X_train.astype('float32')
print(X_train.shape)
print(X_train[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0            1       3    1  22.0      1      0   7.2500         3
1            2       1    0  38.0      1      0  71.2833         1
2            3       3    0  26.0      0      0   7.9250         3
3            4       1    0  35.0      1      0  53.1000         3
4            5       3    1  35.0      0      0   8.0500         3

   Family_Size  Fare_Per_Person    ...     Name73  Name74  Name75  Name76  \
0            2          3.62500    ...         32      32      32      32
1            2         35.64165    ...         32      32      32      32
2            1          7.92500    ...         32      32      32      32
3            2         26.55000    ...         32      32      32      32
4            1          8.05000    ...         32      32      32      32

   Name77  Name78  Name79  Name80  Name81  In_Cabin
0      32      32      32      32      32         0
1      32      32      32      32      32         1
2      32      32      32      32      32         0
3      32      32      32      32      32         1
4      32      32      32      32      32         0

[5 rows x 94 columns]
After scaling:
    0    1       2      3    4         5         6    7         8         9   \
0  1.0  1.0  0.2750  0.125  0.0  0.014151  1.000000  0.1  0.007076  0.157143
1  0.0  0.0  0.4750  0.125  0.0  0.139136  0.333333  0.1  0.069568  0.557143
2  1.0  0.0  0.3250  0.000  0.0  0.015469  1.000000  0.0  0.015469  0.142857
3  0.0  0.0  0.4375  0.125  0.0  0.103644  1.000000  0.1  0.051822  0.457143
4  1.0  1.0  0.4375  0.000  0.0  0.015713  1.000000  0.0  0.015713  0.171429

  ...    83   84   85   86   87   88   89   90   91   92
0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 93 columns]
(891, 93)
[ 1.          1.          0.27500001  0.125       0.          0.01415106
  1.          0.1         0.00707553  0.15714286  0.01886792  0.91463417
  0.72222221  0.94444442  0.86666667  0.75555557  0.13483146  0.
  0.50561798  0.95348835  0.15730338  0.          0.54022986  0.9775281
  0.76666665  0.87640452  0.          0.44444445  0.72222221  0.91111112
  0.91111112  0.81111109  0.93258429  0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.        ]

In [46]:
# Build a training network

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.optimizers import SGD
from keras.layers.advanced_activations import LeakyReLU

model = Sequential()
model.add(Dense(2048, activation='relu', input_shape=(X_train.shape[1], )))
model.add(Dropout(0.1))
model.add(Dense(1024, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(2, activation='sigmoid'))

model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_37 (Dense)             (None, 2048)              192512
_________________________________________________________________
dropout_27 (Dropout)         (None, 2048)              0
_________________________________________________________________
dense_38 (Dense)             (None, 1024)              2098176
_________________________________________________________________
dropout_28 (Dropout)         (None, 1024)              0
_________________________________________________________________
dense_39 (Dense)             (None, 2)                 2050
=================================================================
Total params: 2,292,738
Trainable params: 2,292,738
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Train the model
checkpointer = ModelCheckpoint(filepath=model_weights_file, verbose=1, save_best_only=True)
stopper = EarlyStopping(monitor='val_loss', min_delta=1e-5, patience=10, verbose=1, mode='auto')
hist = model.fit(X_train, y_train, epochs=1000, batch_size=10, validation_split=0.2, 
                 callbacks=[checkpointer, stopper], 
                 verbose=1, shuffle=True)

Train on 712 samples, validate on 179 samples
Epoch 1/1000
710/712 [============================>.] - ETA: 0s - loss: 0.5860 - acc: 0.7085Epoch 00000: val_loss improved from inf to 0.60429, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 4s - loss: 0.5844 - acc: 0.7093 - val_loss: 0.6043 - val_acc: 0.7765
Epoch 2/1000
710/712 [============================>.] - ETA: 0s - loss: 0.5036 - acc: 0.7930Epoch 00001: val_loss improved from 0.60429 to 0.42476, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 3s - loss: 0.5033 - acc: 0.7935 - val_loss: 0.4248 - val_acc: 0.8212
Epoch 3/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4763 - acc: 0.7957Epoch 00002: val_loss did not improve
712/712 [==============================] - 3s - loss: 0.4757 - acc: 0.7963 - val_loss: 0.5359 - val_acc: 0.8101
Epoch 4/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4653 - acc: 0.8085Epoch 00003: val_loss did not improve
712/712 [==============================] - 4s - loss: 0.4666 - acc: 0.8076 - val_loss: 0.5100 - val_acc: 0.7654
Epoch 5/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4598 - acc: 0.8239Epoch 00004: val_loss did not improve
712/712 [==============================] - 3s - loss: 0.4603 - acc: 0.8230 - val_loss: 0.4607 - val_acc: 0.7989
Epoch 6/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4143 - acc: 0.8271Epoch 00005: val_loss did not improve
712/712 [==============================] - 3s - loss: 0.4157 - acc: 0.8258 - val_loss: 0.4931 - val_acc: 0.7765
Epoch 7/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4311 - acc: 0.8282Epoch 00006: val_loss did not improve
712/712 [==============================] - 3s - loss: 0.4314 - acc: 0.8272 - val_loss: 0.5136 - val_acc: 0.8045
Epoch 8/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4121 - acc: 0.8386Epoch 00007: val_loss did not improve
712/712 [==============================] - 3s - loss: 0.4145 - acc: 0.8371 - val_loss: 0.4703 - val_acc: 0.7989
Epoch 9/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4024 - acc: 0.8465Epoch 00008: val_loss did not improve
712/712 [==============================] - 3s - loss: 0.4017 - acc: 0.8469 - val_loss: 0.4746 - val_acc: 0.8156
Epoch 10/1000
710/712 [============================>.] - ETA: 0s - loss: 0.3799 - acc: 0.8423- ETA: 1s - loss: 0.Epoch 00009: val_loss did not improve
712/712 [==============================] - 4s - loss: 0.3805 - acc: 0.8413 - val_loss: 0.4775 - val_acc: 0.8212
Epoch 11/1000
710/712 [============================>.] - ETA: 0s - loss: 0.3545 - acc: 0.8549Epoch 00010: val_loss did not improve
712/712 [==============================] - 3s - loss: 0.3543 - acc: 0.8553 - val_loss: 0.6751 - val_acc: 0.7765
Epoch 12/1000
710/712 [============================>.] - ETA: 0s - loss: 0.3726 - acc: 0.8437Epoch 00011: val_loss did not improve
712/712 [==============================] - 4s - loss: 0.3717 - acc: 0.8441 - val_loss: 0.6192 - val_acc: 0.7709
Epoch 13/1000
710/712 [============================>.] - ETA: 0s - loss: 0.3513 - acc: 0.8451- ETA: 0s - loss: 0.3551 - accEpoch 00012: val_loss did not improve
712/712 [==============================] - 5s - loss: 0.3510 - acc: 0.8455 - val_loss: 0.6885 - val_acc: 0.7989
Epoch 00012: early stopping

In [48]:
# Load the weights that yielded the best validation accuracy
model.load_weights(model_weights_file)

# Evaluate the model on the training set
score = model.evaluate(X_train, y_train)
print("\n Training Accuracy:", score[1])

891/891 [==============================] - 0s

 Training Accuracy: 0.82154882175

In [20]:
# Load test data
df_test_raw = pd.read_csv(test_file)
print(df_test_raw.shape)
df_test_raw.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [21]:
# Prepare the data for testing
df_test = prep_data(df_test_raw)
X_test = np.array(df_test)[:,:]
X_test = X_test.astype('float32')
print(X_test.shape)
print(X_test[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

   Family_Size  Fare_Per_Person    ...     Name73  Name74  Name75  Name76  \
0            1         7.829200    ...         32      32      32      32
1            2         3.500000    ...         32      32      32      32
2            1         9.687500    ...         32      32      32      32
3            1         8.662500    ...         32      32      32      32
4            3         4.095833    ...         32      32      32      32

   Name77  Name78  Name79  Name80  Name81  In_Cabin
0      32      32      32      32      32         0
1      32      32      32      32      32         0
2      32      32      32      32      32         0
3      32      32      32      32      32         0
4      32      32      32      32      32         0

[5 rows x 94 columns]
After scaling:
    0    1         2      3         4         5    6    7         8     9   \
0  1.0  1.0  0.453947  0.000  0.000000  0.015282  0.5  0.0  0.029840  0.06
1  1.0  0.0  0.618421  0.125  0.000000  0.013663  1.0  0.1  0.013340  0.38
2  0.5  1.0  0.815789  0.000  0.000000  0.018909  0.5  0.0  0.036922  0.24
3  1.0  1.0  0.355263  0.000  0.000000  0.016908  1.0  0.0  0.033016  0.06
4  1.0  0.0  0.289474  0.125  0.111111  0.023984  1.0  0.2  0.015611  0.62

  ...    83   84   85   86   87   88   89   90   91   92
0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 93 columns]
(418, 93)
[ 1.          1.          0.45394737  0.          0.          0.01528158
  0.5         0.          0.02983973  0.06        0.18867925  0.75609756
  0.85393256  0.84444445  0.98888886  0.13333334  0.          0.5
  0.94252872  0.15555556  0.          0.49411765  0.74712646  0.89534885
  0.77528089  0.9222222   0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]

In [22]:
# Predict for test data
y_test = model.predict(X_test)
print(y_test[0])

[ 0.86288279  0.12977304]

In [23]:
# Save predictions
with open(pred_file, 'w') as f:
    f.write('PassengerId,Survived\n')
    for index, y_hat in enumerate(y_test):
        prediction = np.argmax(y_hat)
        f.write(str(df_test_raw.iloc[index]['PassengerId']) + ',' + str(prediction)+'\n')
    f.close()