In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
# Training and test data files
train_file = '../input/train.csv'
test_file = '../input/test.csv'
model_file = '../output/titanic.model.json'
model_weights_file = '../output/titanic.model.best.hdf5'
pred_file = '../output/gender_submission.csv'

In [32]:
# Load training data
df_train = pd.read_csv(train_file)
print(df_train.shape)
df_train.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
# Extract survived data as predictions: 0 = Died, 1 = Survived
from keras.utils.np_utils import to_categorical
y_train = to_categorical(df_train["Survived"], 2)
df_train.pop('Survived')
print(y_train.shape)
print(y_train[0:5])

(891, 2)
[[ 1.  0.]
 [ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]
 [ 1.  0.]]

In [34]:
# Prepare the rest of the data for training
from sklearn.preprocessing import MinMaxScaler

max_name_len = df_train.Name.map(len).max()    

def prep_data(frame):
    frame = frame.fillna(0)

    # Creating new family_size and fare per person columns 
    frame['Family_Size'] = frame['SibSp'] + frame['Parch'] + 1
    frame['Fare_Per_Person'] = frame['Fare']/frame['Family_Size']

    # Convert Sex and Embarked to number
    frame['Sex'] = pd.Categorical(frame['Sex']).codes
    frame['Embarked'] = pd.Categorical(frame['Embarked']).codes
    
    # Convert name
    for i in range(0, max_name_len):
        col_name = 'Name' + str(i)
        frame[col_name] = frame['Name'].str[i]
        frame[col_name] = frame.apply(lambda row: ord(' ') if isinstance(row[col_name], float) and math.isnan(row[col_name]) else ord(row[col_name]), axis=1)
    frame.pop('Name')
    
    # TODO: Ignore Ticket for now
    frame.pop('Ticket')
    
    # Convert Cabin column to whether in cabin
    frame['In_Cabin'] = frame.apply(lambda row: 1 if row['Cabin'] != 0 else 0, axis=1)
    frame.pop('Cabin')
    
    print("Before scaling: ")
    print(frame.head())
    
    # Scale everything except PassengerId
    min_max_scaler = MinMaxScaler()
    col_list = frame.columns.tolist()
    col_list.remove('PassengerId')
    frame = frame[col_list]
    np_scaled = min_max_scaler.fit_transform(frame)
    frame = pd.DataFrame(np_scaled)
    
    print("After scaling: ")
    print(frame.head())

    return frame

In [35]:
# Prepare the rest of the data for training
df_train = prep_data(df_train)
X_train = np.array(df_train)[:,:]
X_train = X_train.astype('float32')
print(X_train.shape)
print(X_train[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0            1       3    1  22.0      1      0   7.2500         3
1            2       1    0  38.0      1      0  71.2833         1
2            3       3    0  26.0      0      0   7.9250         3
3            4       1    0  35.0      1      0  53.1000         3
4            5       3    1  35.0      0      0   8.0500         3

   Family_Size  Fare_Per_Person    ...     Name73  Name74  Name75  Name76  \
0            2          3.62500    ...         32      32      32      32
1            2         35.64165    ...         32      32      32      32
2            1          7.92500    ...         32      32      32      32
3            2         26.55000    ...         32      32      32      32
4            1          8.05000    ...         32      32      32      32

   Name77  Name78  Name79  Name80  Name81  In_Cabin
0      32      32      32      32      32         0
1      32      32      32      32      32         1
2      32      32      32      32      32         0
3      32      32      32      32      32         1
4      32      32      32      32      32         0

[5 rows x 93 columns]
After scaling:
    0    1       2      3    4         5         6    7         8         9   \
0  1.0  1.0  0.2750  0.125  0.0  0.014151  1.000000  0.1  0.007076  0.018868
1  0.0  0.0  0.4750  0.125  0.0  0.139136  0.333333  0.1  0.069568  0.037736
2  1.0  0.0  0.3250  0.000  0.0  0.015469  1.000000  0.0  0.015469  0.132075
3  0.0  0.0  0.4375  0.125  0.0  0.103644  1.000000  0.1  0.051822  0.094340
4  1.0  1.0  0.4375  0.000  0.0  0.015713  1.000000  0.0  0.015713  0.000000

  ...    82   83   84   85   86   87   88   89   90   91
0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 92 columns]
(891, 92)
[ 1.          1.          0.27500001  0.125       0.          0.01415106
  1.          0.1         0.00707553  0.01886792  0.91463417  0.72222221
  0.94444442  0.86666667  0.75555557  0.13483146  0.          0.50561798
  0.95348835  0.15730338  0.          0.54022986  0.9775281   0.76666665
  0.87640452  0.          0.44444445  0.72222221  0.91111112  0.91111112
  0.81111109  0.93258429  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]

In [46]:
# Build a training network

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.optimizers import SGD
from keras.layers.advanced_activations import LeakyReLU

model = Sequential()
model.add(Dense(X_train.shape[0], activation='relu', input_shape=(X_train.shape[1], )))
model.add(Dropout(0.5))
model.add(LeakyReLU())
model.add(Dense(512))
model.add(LeakyReLU())
model.add(Dropout(0.5))
model.add(Dense(512))
model.add(LeakyReLU())
model.add(Dropout(0.5))
model.add(Dense(2, activation='sigmoid'))

sgd = SGD(lr=1e-2, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_64 (Dense)             (None, 891)               82863
_________________________________________________________________
dropout_38 (Dropout)         (None, 891)               0
_________________________________________________________________
leaky_re_lu_1 (LeakyReLU)    (None, 891)               0
_________________________________________________________________
dense_65 (Dense)             (None, 512)               456704
_________________________________________________________________
leaky_re_lu_2 (LeakyReLU)    (None, 512)               0
_________________________________________________________________
dropout_39 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_66 (Dense)             (None, 512)               262656
_________________________________________________________________
leaky_re_lu_3 (LeakyReLU)    (None, 512)               0
_________________________________________________________________
dropout_40 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_67 (Dense)             (None, 2)                 1026
=================================================================
Total params: 803,249
Trainable params: 803,249
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Train the model
checkpointer = ModelCheckpoint(filepath=model_weights_file, verbose=1, save_best_only=True)
stopper = EarlyStopping(monitor='val_loss', min_delta=1e-4, patience=10, verbose=1, mode='auto')
hist = model.fit(X_train, y_train, epochs=1000, batch_size=10, validation_split=0.2, 
                 callbacks=[checkpointer, stopper], 
                 verbose=1, shuffle=True)

Train on 712 samples, validate on 179 samples
Epoch 1/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.6765 - acc: 0.6119Epoch 00000: val_loss improved from inf to 0.64863, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6745 - acc: 0.6166 - val_loss: 0.6486 - val_acc: 0.6425
Epoch 2/1000
710/712 [============================>.] - ETA: 0s - loss: 0.6575 - acc: 0.6070Epoch 00001: val_loss improved from 0.64863 to 0.62321, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6571 - acc: 0.6081 - val_loss: 0.6232 - val_acc: 0.6425
Epoch 3/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.6387 - acc: 0.6317Epoch 00002: val_loss improved from 0.62321 to 0.59923, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6378 - acc: 0.6306 - val_loss: 0.5992 - val_acc: 0.6425
Epoch 4/1000
620/712 [=========================>....] - ETA: 0s - loss: 0.6180 - acc: 0.6484Epoch 00003: val_loss improved from 0.59923 to 0.57964, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6224 - acc: 0.6447 - val_loss: 0.5796 - val_acc: 0.7430
Epoch 5/1000
620/712 [=========================>....] - ETA: 0s - loss: 0.6045 - acc: 0.6823Epoch 00004: val_loss improved from 0.57964 to 0.54907, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6039 - acc: 0.6812 - val_loss: 0.5491 - val_acc: 0.7765
Epoch 6/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.5918 - acc: 0.6762Epoch 00005: val_loss improved from 0.54907 to 0.52675, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5895 - acc: 0.6826 - val_loss: 0.5268 - val_acc: 0.7709
Epoch 7/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.5540 - acc: 0.7333Epoch 00006: val_loss improved from 0.52675 to 0.49422, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5646 - acc: 0.7205 - val_loss: 0.4942 - val_acc: 0.7821
Epoch 8/1000
640/712 [=========================>....] - ETA: 0s - loss: 0.5533 - acc: 0.7219Epoch 00007: val_loss improved from 0.49422 to 0.47536, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5493 - acc: 0.7247 - val_loss: 0.4754 - val_acc: 0.7821
Epoch 9/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.5294 - acc: 0.7460Epoch 00008: val_loss improved from 0.47536 to 0.46384, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5272 - acc: 0.7486 - val_loss: 0.4638 - val_acc: 0.7933
Epoch 10/1000
640/712 [=========================>....] - ETA: 0s - loss: 0.5221 - acc: 0.7531Epoch 00009: val_loss improved from 0.46384 to 0.45523, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5263 - acc: 0.7514 - val_loss: 0.4552 - val_acc: 0.7821
Epoch 11/1000
620/712 [=========================>....] - ETA: 0s - loss: 0.5174 - acc: 0.7629Epoch 00010: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.5168 - acc: 0.7669 - val_loss: 0.4641 - val_acc: 0.7877
Epoch 12/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.5067 - acc: 0.7714Epoch 00011: val_loss improved from 0.45523 to 0.44382, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5078 - acc: 0.7697 - val_loss: 0.4438 - val_acc: 0.7933
Epoch 13/1000
640/712 [=========================>....] - ETA: 0s - loss: 0.5035 - acc: 0.7719Epoch 00012: val_loss improved from 0.44382 to 0.43785, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5142 - acc: 0.7626 - val_loss: 0.4378 - val_acc: 0.7877
Epoch 14/1000
660/712 [==========================>...] - ETA: 0s - loss: 0.4988 - acc: 0.7727Epoch 00013: val_loss improved from 0.43785 to 0.43063, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4935 - acc: 0.7767 - val_loss: 0.4306 - val_acc: 0.7877
Epoch 15/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4946 - acc: 0.7873Epoch 00014: val_loss improved from 0.43063 to 0.42694, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4942 - acc: 0.7879 - val_loss: 0.4269 - val_acc: 0.7933
Epoch 16/1000
610/712 [========================>.....] - ETA: 0s - loss: 0.4787 - acc: 0.7738Epoch 00015: val_loss improved from 0.42694 to 0.42592, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4854 - acc: 0.7725 - val_loss: 0.4259 - val_acc: 0.7933
Epoch 17/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4875 - acc: 0.7857Epoch 00016: val_loss improved from 0.42592 to 0.42354, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4816 - acc: 0.7879 - val_loss: 0.4235 - val_acc: 0.7933
Epoch 18/1000
650/712 [==========================>...] - ETA: 0s - loss: 0.4849 - acc: 0.7738Epoch 00017: val_loss improved from 0.42354 to 0.41628, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4819 - acc: 0.7795 - val_loss: 0.4163 - val_acc: 0.8045
Epoch 19/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4712 - acc: 0.7746Epoch 00018: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4712 - acc: 0.7781 - val_loss: 0.4177 - val_acc: 0.7989
Epoch 20/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4585 - acc: 0.7984Epoch 00019: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4582 - acc: 0.7992 - val_loss: 0.4164 - val_acc: 0.7933
Epoch 21/1000
650/712 [==========================>...] - ETA: 0s - loss: 0.4795 - acc: 0.8015Epoch 00020: val_loss improved from 0.41628 to 0.41306, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4734 - acc: 0.8020 - val_loss: 0.4131 - val_acc: 0.8045
Epoch 22/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4588 - acc: 0.7873Epoch 00021: val_loss improved from 0.41306 to 0.41097, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4554 - acc: 0.7921 - val_loss: 0.4110 - val_acc: 0.8156
Epoch 23/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4715 - acc: 0.7857Epoch 00022: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4695 - acc: 0.7879 - val_loss: 0.4133 - val_acc: 0.8156
Epoch 24/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4427 - acc: 0.7937Epoch 00023: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4579 - acc: 0.7823 - val_loss: 0.4136 - val_acc: 0.8101
Epoch 25/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4647 - acc: 0.7857Epoch 00024: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4680 - acc: 0.7851 - val_loss: 0.4166 - val_acc: 0.8212
Epoch 26/1000
630/712 [=========================>....] - ETA: 0s - loss: 0.4449 - acc: 0.8016Epoch 00025: val_loss improved from 0.41097 to 0.40997, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4496 - acc: 0.7949 - val_loss: 0.4100 - val_acc: 0.8156
Epoch 27/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4342 - acc: 0.8056Epoch 00026: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4360 - acc: 0.8048 - val_loss: 0.4247 - val_acc: 0.8045
Epoch 28/1000
620/712 [=========================>....] - ETA: 0s - loss: 0.4538 - acc: 0.8161Epoch 00027: val_loss improved from 0.40997 to 0.40819, saving model to ../output/titanic.model.best.hdf5

712/712 [==============================] - 0s - loss: 0.4498 - acc: 0.8146 - val_loss: 0.4082 - val_acc: 0.8212
Epoch 29/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4521 - acc: 0.8030Epoch 00028: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4526 - acc: 0.8034 - val_loss: 0.4131 - val_acc: 0.8045
Epoch 30/1000
650/712 [==========================>...] - ETA: 0s - loss: 0.4486 - acc: 0.8108Epoch 00029: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4471 - acc: 0.8132 - val_loss: 0.4103 - val_acc: 0.7989
Epoch 31/1000
620/712 [=========================>....] - ETA: 0s - loss: 0.4578 - acc: 0.8016Epoch 00030: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4547 - acc: 0.7992 - val_loss: 0.4085 - val_acc: 0.8212
Epoch 32/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4365 - acc: 0.8134Epoch 00031: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4407 - acc: 0.8104 - val_loss: 0.4089 - val_acc: 0.8156
Epoch 33/1000
640/712 [=========================>....] - ETA: 0s - loss: 0.4219 - acc: 0.8156Epoch 00032: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4336 - acc: 0.8062 - val_loss: 0.4087 - val_acc: 0.8156
Epoch 34/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4389 - acc: 0.8149Epoch 00033: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4342 - acc: 0.8160 - val_loss: 0.4103 - val_acc: 0.8101
Epoch 35/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4312 - acc: 0.8179Epoch 00034: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4368 - acc: 0.8118 - val_loss: 0.4095 - val_acc: 0.8156
Epoch 36/1000
640/712 [=========================>....] - ETA: 0s - loss: 0.4286 - acc: 0.8078Epoch 00035: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4265 - acc: 0.8090 - val_loss: 0.4093 - val_acc: 0.8101
Epoch 37/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4256 - acc: 0.8224Epoch 00036: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4280 - acc: 0.8216 - val_loss: 0.4097 - val_acc: 0.8156
Epoch 38/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4332 - acc: 0.8015Epoch 00037: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4439 - acc: 0.7907 - val_loss: 0.4099 - val_acc: 0.8212
Epoch 39/1000
620/712 [=========================>....] - ETA: 0s - loss: 0.4309 - acc: 0.8274Epoch 00038: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4353 - acc: 0.8202 - val_loss: 0.4117 - val_acc: 0.8101
Epoch 00038: early stopping

In [48]:
# Load the weights that yielded the best validation accuracy
model.load_weights(model_weights_file)

# Evaluate the model on the training set
score = model.evaluate(X_train, y_train)
print("\n Training Accuracy:", score[1])

736/891 [=======================>......] - ETA: 0s
 Training Accuracy: 0.819304152838

In [49]:
# Load test data
df_test_raw = pd.read_csv(test_file)
print(df_test_raw.shape)
df_test_raw.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [50]:
# Prepare the data for testing
df_test = prep_data(df_test_raw)
X_test = np.array(df_test)[:,:]
X_test = X_test.astype('float32')
print(X_test.shape)
print(X_test[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

   Family_Size  Fare_Per_Person    ...     Name73  Name74  Name75  Name76  \
0            1         7.829200    ...         32      32      32      32
1            2         3.500000    ...         32      32      32      32
2            1         9.687500    ...         32      32      32      32
3            1         8.662500    ...         32      32      32      32
4            3         4.095833    ...         32      32      32      32

   Name77  Name78  Name79  Name80  Name81  In_Cabin
0      32      32      32      32      32         0
1      32      32      32      32      32         0
2      32      32      32      32      32         0
3      32      32      32      32      32         0
4      32      32      32      32      32         0

[5 rows x 93 columns]
After scaling:
    0    1         2      3         4         5    6    7         8   \
0  1.0  1.0  0.453947  0.000  0.000000  0.015282  0.5  0.0  0.029840
1  1.0  0.0  0.618421  0.125  0.000000  0.013663  1.0  0.1  0.013340
2  0.5  1.0  0.815789  0.000  0.000000  0.018909  0.5  0.0  0.036922
3  1.0  1.0  0.355263  0.000  0.000000  0.016908  1.0  0.0  0.033016
4  1.0  0.0  0.289474  0.125  0.111111  0.023984  1.0  0.2  0.015611

         9  ...    82   83   84   85   86   87   88   89   90   91
0  0.188679 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.415094 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.226415 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.415094 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.132075 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 92 columns]
(418, 92)
[ 1.          1.          0.45394737  0.          0.          0.01528158
  0.5         0.          0.02983973  0.18867925  0.75609756  0.85393256
  0.84444445  0.98888886  0.13333334  0.          0.5         0.94252872
  0.15555556  0.          0.49411765  0.74712646  0.89534885  0.77528089
  0.9222222   0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]

In [51]:
# Predict for test data
y_test = model.predict(X_test)
print(y_test[0])

[ 0.68717349  0.09487092]

In [52]:
# Save predictions
with open(pred_file, 'w') as f:
    f.write('PassengerId,Survived\n')
    for index, y_hat in enumerate(y_test):
        prediction = np.argmax(y_hat)
        f.write(str(df_test_raw.iloc[index]['PassengerId']) + ',' + str(prediction)+'\n')
    f.close()