In [8]:
import math
import numpy as np
import pandas as pd

In [9]:
# Training and test data files
train_file = '../input/train.csv'
test_file = '../input/test.csv'
model_file = '../output/titanic.model.json'
model_weights_file = '../output/titanic.model.best.hdf5'
pred_file = '../output/gender_submission.csv'

In [17]:
# Load training data
df_train = pd.read_csv(train_file)
print(df_train.shape)
df_train.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
# Extract survived data as predictions: 0 = Died, 1 = Survived
from keras.utils.np_utils import to_categorical
y_train = to_categorical(df_train["Survived"], 2)
df_train.pop('Survived')
print(y_train.shape)
print(y_train[0:5])

(891, 2)
[[ 1.  0.]
 [ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]
 [ 1.  0.]]

In [19]:
# Prepare the rest of the data for training
from sklearn.preprocessing import MinMaxScaler

max_name_len = df_train.Name.map(len).max()    

title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev', 'Dr', 'Ms', 'Mlle',
            'Col', 'Capt', 'Mme', 'Countess', 'Don', 'Jonkheer']

import string
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if substring in big_string:
            return substring
    return np.nan

def prep_data(frame):
    # Creating new family_size and fare per person columns 
    frame['Family_Size'] = frame['SibSp'] + frame['Parch'] + 1

    # Convert Sex and Embarked to number
    frame['Sex'] = pd.Categorical(frame['Sex']).codes
    frame['Embarked'] = pd.Categorical(frame['Embarked']).codes
    
    # Extract title from name
    frame['Title'] = frame['Name'].map(lambda x: substrings_in_string(x, title_list))
    frame['Title'] = pd.Categorical(frame['Title']).codes

    # Convert Name into characters
    frame['Name_Length'] = frame.apply(lambda row: len(row['Name']), axis=1)
    for i in range(0, max_name_len):
        col_name = 'Name' + str(i)
        frame[col_name] = frame['Name'].str[i]
        frame[col_name] = frame.apply(lambda row: 0 if isinstance(row[col_name], float) and math.isnan(row[col_name]) else ord(row[col_name]), axis=1)
    frame.pop('Name')    
    
    # TODO: Ignore Ticket for now
    frame.pop('Ticket')
    
    # Convert Cabin column to whether in cabin
    frame['In_Cabin'] = frame.apply(lambda row: 1 if row['Cabin'] != 0 else 0, axis=1)
    frame.pop('Cabin')
    
    # Change any remaining N/As to 0
    frame = frame.fillna(0)

    print("Before scaling: ")
    print(frame.head())
    
    # Scale everything except PassengerId
    min_max_scaler = MinMaxScaler()
    col_list = frame.columns.tolist()
    col_list.remove('PassengerId')
    frame = frame[col_list]
    np_scaled = min_max_scaler.fit_transform(frame)
    frame = pd.DataFrame(np_scaled)
    
    print("After scaling: ")
    print(frame.head())

    return frame

In [20]:
# Prepare the rest of the data for training
df_train = prep_data(df_train)
X_train = np.array(df_train)[:,:]
X_train = X_train.astype('float32')
print(X_train.shape)
print(X_train[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0            1       3    1  22.0      1      0   7.2500         2
1            2       1    0  38.0      1      0  71.2833         0
2            3       3    0  26.0      0      0   7.9250         2
3            4       1    0  35.0      1      0  53.1000         2
4            5       3    1  35.0      0      0   8.0500         2

   Family_Size  Title    ...     Name73  Name74  Name75  Name76  Name77  \
0            2     11    ...          0       0       0       0       0
1            2     12    ...          0       0       0       0       0
2            1      8    ...          0       0       0       0       0
3            2     12    ...          0       0       0       0       0
4            1     11    ...          0       0       0       0       0

   Name78  Name79  Name80  Name81  In_Cabin
0       0       0       0       0         1
1       0       0       0       0         1
2       0       0       0       0         1
3       0       0       0       0         1
4       0       0       0       0         1

[5 rows x 94 columns]
After scaling:
    0    1       2      3    4         5         6    7         8         9   \
0  1.0  1.0  0.2750  0.125  0.0  0.014151  1.000000  0.1  0.785714  0.157143
1  0.0  0.0  0.4750  0.125  0.0  0.139136  0.333333  0.1  0.857143  0.557143
2  1.0  0.0  0.3250  0.000  0.0  0.015469  1.000000  0.0  0.571429  0.142857
3  0.0  0.0  0.4375  0.125  0.0  0.103644  1.000000  0.1  0.857143  0.457143
4  1.0  1.0  0.4375  0.000  0.0  0.015713  1.000000  0.0  0.785714  0.171429

  ...    83   84   85   86   87   88   89   90   91   92
0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 93 columns]
(891, 93)
[ 1.          1.          0.27500001  0.125       0.          0.01415106
  1.          0.1         0.78571427  0.15714286  0.01886792  0.91463417
  0.72222221  0.94444442  0.86666667  0.75555557  0.13483146  0.
  0.50561798  0.95348835  0.15730338  0.          0.66386557  0.9834711
  0.82786888  0.90909094  0.26229507  0.59016395  0.79508197  0.93442625
  0.93442625  0.86065573  0.95041323  0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.        ]

In [22]:
# Build a training network

from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.optimizers import SGD
from keras.layers.advanced_activations import LeakyReLU

model = Sequential()
model.add(Dense(512, activation='relu', input_shape=(X_train.shape[1], )))
model.add(Dense(512, activation='relu'))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(256, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(256, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(2, activation='sigmoid'))

model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 512)               48128
_________________________________________________________________
dense_2 (Dense)              (None, 512)               262656
_________________________________________________________________
dense_3 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_4 (Dense)              (None, 256)               131328
_________________________________________________________________
dense_5 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_6 (Dense)              (None, 256)               65792
_________________________________________________________________
dropout_2 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_7 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_8 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_9 (Dense)              (None, 256)               65792
_________________________________________________________________
dropout_3 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_10 (Dense)             (None, 2)                 514
=================================================================
Total params: 1,034,242
Trainable params: 1,034,242
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Save the model
model_json = model.to_json()
with open(model_file, 'w') as json_file:
    json_file.write(model_json)

In [23]:
# Train the model
checkpointer = ModelCheckpoint(filepath=model_weights_file, verbose=1, save_best_only=True)
stopper = EarlyStopping(monitor='val_loss', min_delta=1e-5, patience=10, verbose=1, mode='auto')
hist = model.fit(X_train, y_train, epochs=1000, batch_size=10, validation_split=0.2, 
                 callbacks=[checkpointer, stopper], 
                 verbose=1, shuffle=True)

Train on 712 samples, validate on 179 samples
Epoch 1/1000
690/712 [============================>.] - ETA: 0s - loss: 0.6902 - acc: 0.5725Epoch 00000: val_loss improved from inf to 0.68273, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6904 - acc: 0.5688 - val_loss: 0.6827 - val_acc: 0.6425
Epoch 2/1000
690/712 [============================>.] - ETA: 0s - loss: 0.6832 - acc: 0.6101Epoch 00001: val_loss improved from 0.68273 to 0.67540, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6834 - acc: 0.6096 - val_loss: 0.6754 - val_acc: 0.6425
Epoch 3/1000
700/712 [============================>.] - ETA: 0s - loss: 0.6782 - acc: 0.6100Epoch 00002: val_loss improved from 0.67540 to 0.66934, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6782 - acc: 0.6096 - val_loss: 0.6693 - val_acc: 0.6425
Epoch 4/1000
700/712 [============================>.] - ETA: 0s - loss: 0.6752 - acc: 0.6071Epoch 00003: val_loss improved from 0.66934 to 0.66418, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6747 - acc: 0.6096 - val_loss: 0.6642 - val_acc: 0.6425
Epoch 5/1000
690/712 [============================>.] - ETA: 0s - loss: 0.6702 - acc: 0.6159Epoch 00004: val_loss improved from 0.66418 to 0.66047, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6720 - acc: 0.6096 - val_loss: 0.6605 - val_acc: 0.6425
Epoch 6/1000
700/712 [============================>.] - ETA: 0s - loss: 0.6710 - acc: 0.6086Epoch 00005: val_loss improved from 0.66047 to 0.65743, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6708 - acc: 0.6096 - val_loss: 0.6574 - val_acc: 0.6425
Epoch 7/1000
710/712 [============================>.] - ETA: 0s - loss: 0.6687 - acc: 0.6099Epoch 00006: val_loss improved from 0.65743 to 0.65429, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6688 - acc: 0.6096 - val_loss: 0.6543 - val_acc: 0.6425
Epoch 8/1000
690/712 [============================>.] - ETA: 0s - loss: 0.6667 - acc: 0.6130Epoch 00007: val_loss improved from 0.65429 to 0.65112, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6680 - acc: 0.6096 - val_loss: 0.6511 - val_acc: 0.6425
Epoch 9/1000
710/712 [============================>.] - ETA: 0s - loss: 0.6644 - acc: 0.6099Epoch 00008: val_loss improved from 0.65112 to 0.64770, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6645 - acc: 0.6096 - val_loss: 0.6477 - val_acc: 0.6425
Epoch 10/1000
690/712 [============================>.] - ETA: 0s - loss: 0.6623 - acc: 0.6072Epoch 00009: val_loss improved from 0.64770 to 0.64292, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6614 - acc: 0.6096 - val_loss: 0.6429 - val_acc: 0.6425
Epoch 11/1000
690/712 [============================>.] - ETA: 0s - loss: 0.6602 - acc: 0.6072Epoch 00010: val_loss improved from 0.64292 to 0.63739, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6597 - acc: 0.6096 - val_loss: 0.6374 - val_acc: 0.6425
Epoch 12/1000
690/712 [============================>.] - ETA: 0s - loss: 0.6547 - acc: 0.6101Epoch 00011: val_loss improved from 0.63739 to 0.62991, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6546 - acc: 0.6096 - val_loss: 0.6299 - val_acc: 0.6425
Epoch 13/1000
710/712 [============================>.] - ETA: 0s - loss: 0.6459 - acc: 0.6113Epoch 00012: val_loss improved from 0.62991 to 0.61668, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6460 - acc: 0.6110 - val_loss: 0.6167 - val_acc: 0.6425
Epoch 14/1000
710/712 [============================>.] - ETA: 0s - loss: 0.6373 - acc: 0.6099Epoch 00013: val_loss improved from 0.61668 to 0.60483, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6373 - acc: 0.6096 - val_loss: 0.6048 - val_acc: 0.6425
Epoch 15/1000
710/712 [============================>.] - ETA: 0s - loss: 0.6158 - acc: 0.6239Epoch 00014: val_loss improved from 0.60483 to 0.57548, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6157 - acc: 0.6236 - val_loss: 0.5755 - val_acc: 0.7430
Epoch 16/1000
690/712 [============================>.] - ETA: 0s - loss: 0.5856 - acc: 0.6884Epoch 00015: val_loss improved from 0.57548 to 0.54663, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.5859 - acc: 0.6882 - val_loss: 0.5466 - val_acc: 0.7765
Epoch 17/1000
690/712 [============================>.] - ETA: 0s - loss: 0.5521 - acc: 0.7493Epoch 00016: val_loss improved from 0.54663 to 0.51011, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.5493 - acc: 0.7514 - val_loss: 0.5101 - val_acc: 0.7765
Epoch 18/1000
690/712 [============================>.] - ETA: 0s - loss: 0.5276 - acc: 0.7696Epoch 00017: val_loss improved from 0.51011 to 0.47747, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.5236 - acc: 0.7753 - val_loss: 0.4775 - val_acc: 0.7989
Epoch 19/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.5023 - acc: 0.7806Epoch 00018: val_loss improved from 0.47747 to 0.47472, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.5027 - acc: 0.7823 - val_loss: 0.4747 - val_acc: 0.7821
Epoch 20/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.5020 - acc: 0.7868Epoch 00019: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.5004 - acc: 0.7879 - val_loss: 0.4802 - val_acc: 0.7821
Epoch 21/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4903 - acc: 0.7900Epoch 00020: val_loss improved from 0.47472 to 0.45749, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4862 - acc: 0.7935 - val_loss: 0.4575 - val_acc: 0.7821
Epoch 22/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4868 - acc: 0.7926Epoch 00021: val_loss improved from 0.45749 to 0.44497, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4838 - acc: 0.7963 - val_loss: 0.4450 - val_acc: 0.8268
Epoch 23/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4797 - acc: 0.8014Epoch 00022: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4740 - acc: 0.8048 - val_loss: 0.4591 - val_acc: 0.8212
Epoch 24/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4700 - acc: 0.7870Epoch 00023: val_loss improved from 0.44497 to 0.44002, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4727 - acc: 0.7851 - val_loss: 0.4400 - val_acc: 0.8156
Epoch 25/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4497 - acc: 0.8030Epoch 00024: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4610 - acc: 0.7949 - val_loss: 0.4829 - val_acc: 0.7933
Epoch 26/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4577 - acc: 0.8043Epoch 00025: val_loss improved from 0.44002 to 0.42759, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4590 - acc: 0.8048 - val_loss: 0.4276 - val_acc: 0.8045
Epoch 27/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4477 - acc: 0.8186Epoch 00026: val_loss improved from 0.42759 to 0.42424, saving model to ../output/titanic.model.best.hdf5

712/712 [==============================] - 1s - loss: 0.4461 - acc: 0.8202 - val_loss: 0.4242 - val_acc: 0.8101
Epoch 28/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.4355 - acc: 0.8239Epoch 00027: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4477 - acc: 0.8174 - val_loss: 0.4407 - val_acc: 0.7933
Epoch 29/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4358 - acc: 0.8221- ETA: 0s - loss: 0.4283 - acc:Epoch 00028: val_loss improved from 0.42424 to 0.42149, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4377 - acc: 0.8202 - val_loss: 0.4215 - val_acc: 0.8156
Epoch 30/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4306 - acc: 0.8085Epoch 00029: val_loss did not improve
712/712 [==============================] - 1s - loss: 0.4299 - acc: 0.8090 - val_loss: 0.4490 - val_acc: 0.8045
Epoch 31/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4274 - acc: 0.8254Epoch 00030: val_loss improved from 0.42149 to 0.42124, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.4264 - acc: 0.8258 - val_loss: 0.4212 - val_acc: 0.8045
Epoch 32/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4248 - acc: 0.8235Epoch 00031: val_loss improved from 0.42124 to 0.42058, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4260 - acc: 0.8244 - val_loss: 0.4206 - val_acc: 0.8212
Epoch 33/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4295 - acc: 0.8191Epoch 00032: val_loss improved from 0.42058 to 0.41531, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4279 - acc: 0.8188 - val_loss: 0.4153 - val_acc: 0.8268
Epoch 34/1000
710/712 [============================>.] - ETA: 0s - loss: 0.4156 - acc: 0.8310Epoch 00033: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4146 - acc: 0.8315 - val_loss: 0.4307 - val_acc: 0.8045
Epoch 35/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.4091 - acc: 0.8309Epoch 00034: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4177 - acc: 0.8258 - val_loss: 0.7270 - val_acc: 0.6760
Epoch 36/1000
690/712 [============================>.] - ETA: 0s - loss: 0.4241 - acc: 0.8217Epoch 00035: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4210 - acc: 0.8244 - val_loss: 0.4180 - val_acc: 0.8045
Epoch 37/1000
700/712 [============================>.] - ETA: 0s - loss: 0.3981 - acc: 0.8400Epoch 00036: val_loss improved from 0.41531 to 0.41108, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4024 - acc: 0.8385 - val_loss: 0.4111 - val_acc: 0.8101
Epoch 38/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4034 - acc: 0.8314Epoch 00037: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4004 - acc: 0.8329 - val_loss: 0.4142 - val_acc: 0.8268
Epoch 39/1000
700/712 [============================>.] - ETA: 0s - loss: 0.4056 - acc: 0.8414Epoch 00038: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4093 - acc: 0.8385 - val_loss: 0.5442 - val_acc: 0.7542
Epoch 40/1000
690/712 [============================>.] - ETA: 0s - loss: 0.3876 - acc: 0.8449Epoch 00039: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3929 - acc: 0.8385 - val_loss: 0.5373 - val_acc: 0.7374
Epoch 41/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.3857 - acc: 0.8507Epoch 00040: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3831 - acc: 0.8511 - val_loss: 0.4243 - val_acc: 0.8101
Epoch 42/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.3767 - acc: 0.8657Epoch 00041: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3767 - acc: 0.8652 - val_loss: 0.4216 - val_acc: 0.8045
Epoch 43/1000
680/712 [===========================>..] - ETA: 0s - loss: 0.3706 - acc: 0.8515Epoch 00042: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3834 - acc: 0.8483 - val_loss: 0.4273 - val_acc: 0.8212
Epoch 44/1000
700/712 [============================>.] - ETA: 0s - loss: 0.3869 - acc: 0.8629Epoch 00043: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3855 - acc: 0.8638 - val_loss: 0.4395 - val_acc: 0.7989
Epoch 45/1000
700/712 [============================>.] - ETA: 0s - loss: 0.3581 - acc: 0.8686Epoch 00044: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3581 - acc: 0.8680 - val_loss: 0.5277 - val_acc: 0.7709
Epoch 46/1000
660/712 [==========================>...] - ETA: 0s - loss: 0.3540 - acc: 0.8652Epoch 00045: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3538 - acc: 0.8652 - val_loss: 0.4169 - val_acc: 0.8156
Epoch 47/1000
670/712 [===========================>..] - ETA: 0s - loss: 0.3565 - acc: 0.8567Epoch 00046: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3613 - acc: 0.8539 - val_loss: 0.4697 - val_acc: 0.7989
Epoch 48/1000
710/712 [============================>.] - ETA: 0s - loss: 0.3642 - acc: 0.8648Epoch 00047: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3634 - acc: 0.8652 - val_loss: 0.4254 - val_acc: 0.7989
Epoch 00047: early stopping

In [24]:
# Load the weights that yielded the best validation accuracy
model.load_weights(model_weights_file)

# Evaluate the model on the training set
score = model.evaluate(X_train, y_train)
print("\nTraining Accuracy:", score[1])

768/891 [========================>.....] - ETA: 0s
Training Accuracy: 0.856341190544

In [26]:
# Load test data
df_test_raw = pd.read_csv(test_file)
print(df_test_raw.shape)
df_test_raw.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [27]:
# Prepare the data for testing
df_test = prep_data(df_test_raw)
X_test = np.array(df_test)[:,:]
X_test = X_test.astype('float32')
print(X_test.shape)
print(X_test[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

   Family_Size  Title    ...     Name73  Name74  Name75  Name76  Name77  \
0            1      5    ...          0       0       0       0       0
1            2      6    ...          0       0       0       0       0
2            1      5    ...          0       0       0       0       0
3            1      5    ...          0       0       0       0       0
4            3      6    ...          0       0       0       0       0

   Name78  Name79  Name80  Name81  In_Cabin
0       0       0       0       0         1
1       0       0       0       0         1
2       0       0       0       0         1
3       0       0       0       0         1
4       0       0       0       0         1

[5 rows x 94 columns]
After scaling:
    0    1         2      3         4         5    6    7      8     9  ...   \
0  1.0  1.0  0.453947  0.000  0.000000  0.015282  0.5  0.0  0.625  0.06 ...
1  1.0  0.0  0.618421  0.125  0.000000  0.013663  1.0  0.1  0.750  0.38 ...
2  0.5  1.0  0.815789  0.000  0.000000  0.018909  0.5  0.0  0.625  0.24 ...
3  1.0  1.0  0.355263  0.000  0.000000  0.016908  1.0  0.0  0.625  0.06 ...
4  1.0  0.0  0.289474  0.125  0.111111  0.023984  1.0  0.2  0.750  0.62 ...

    83   84   85   86   87   88   89   90   91   92
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 93 columns]
(418, 93)
[ 1.          1.          0.45394737  0.          0.          0.01528158
  0.5         0.          0.625       0.06        0.18867925  0.75609756
  0.85393256  0.84444445  0.98888886  0.13333334  0.          0.5
  0.94252872  0.15555556  0.          0.49411765  0.74712646  0.92372882
  0.83471072  0.94262296  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]

In [28]:
# Predict for test data
y_test = model.predict(X_test)
print(y_test[0])

[ 0.71559083  0.09956969]

In [30]:
# Save predictions
with open(pred_file, 'w') as f:
    f.write('PassengerId,Survived\n')
    for index, y_hat in enumerate(y_test):
        prediction = np.argmax(y_hat)
        f.write(str(int(df_test_raw.iloc[index]['PassengerId'])) + ',' + str(prediction)+'\n')
    f.close()