In [1]:
import math
import numpy as np
import pandas as pd

In [11]:
# Training and test data files
train_file = '../input/train.csv'
test_file = '../input/test.csv'
model_file = '../output/titanic.model.json'
model_weights_file = '../output/titanic.model.best.hdf5'
pred_file = '../output/gender_submission.csv'

In [16]:
# Load training data
df_train = pd.read_csv(train_file)
print(df_train.shape)
df_train.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
# Extract survived data as predictions: 0 = Died, 1 = Survived
from keras.utils.np_utils import to_categorical
y_train = to_categorical(df_train["Survived"], 2)
df_train.pop('Survived')
print(y_train.shape)
print(y_train[0:5])

(891, 2)
[[ 1.  0.]
 [ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]
 [ 1.  0.]]

In [18]:
# Prepare the rest of the data for training
from sklearn.preprocessing import MinMaxScaler

max_name_len = df_train.Name.map(len).max()    

def prep_data(frame):
    frame = frame.fillna(0)

    # Creating new family_size and fare per person columns 
    frame['Family_Size'] = frame['SibSp'] + frame['Parch'] + 1
    frame['Fare_Per_Person'] = frame['Fare']/frame['Family_Size']

    # Convert Sex and Embarked to number
    frame['Sex'] = pd.Categorical(frame['Sex']).codes
    frame['Embarked'] = pd.Categorical(frame['Embarked']).codes
    
    # Convert name
    for i in range(0, max_name_len):
        col_name = 'Name' + str(i)
        frame[col_name] = frame['Name'].str[i]
        frame[col_name] = frame.apply(lambda row: ord(' ') if isinstance(row[col_name], float) and math.isnan(row[col_name]) else ord(row[col_name]), axis=1)
    frame.pop('Name')
    
    # TODO: Ignore Ticket, Cabin for now
    frame.pop('Ticket')
    frame.pop('Cabin')
    
    print("Before scaling: ")
    print(frame.head())
    
    min_max_scaler = MinMaxScaler()
    col_list = frame.columns.tolist()
    col_list.remove('PassengerId')
    frame = frame[col_list]
    np_scaled = min_max_scaler.fit_transform(frame)
    frame = pd.DataFrame(np_scaled)
    
    print("After scaling: ")
    print(frame.head())

    return frame

In [19]:
# Prepare the rest of the data for training
df_train = prep_data(df_train)
X_train = np.array(df_train)[:,:]
X_train = X_train.astype('float32')
print(X_train.shape)
print(X_train[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0            1       3    1  22.0      1      0   7.2500         3
1            2       1    0  38.0      1      0  71.2833         1
2            3       3    0  26.0      0      0   7.9250         3
3            4       1    0  35.0      1      0  53.1000         3
4            5       3    1  35.0      0      0   8.0500         3

   Family_Size  Fare_Per_Person   ...    Name72  Name73  Name74  Name75  \
0            2          3.62500   ...        32      32      32      32
1            2         35.64165   ...        32      32      32      32
2            1          7.92500   ...        32      32      32      32
3            2         26.55000   ...        32      32      32      32
4            1          8.05000   ...        32      32      32      32

   Name76  Name77  Name78  Name79  Name80  Name81
0      32      32      32      32      32      32
1      32      32      32      32      32      32
2      32      32      32      32      32      32
3      32      32      32      32      32      32
4      32      32      32      32      32      32

[5 rows x 92 columns]
After scaling:
    0    1       2      3    4         5         6    7         8         9   \
0  1.0  1.0  0.2750  0.125  0.0  0.014151  1.000000  0.1  0.007076  0.018868
1  0.0  0.0  0.4750  0.125  0.0  0.139136  0.333333  0.1  0.069568  0.037736
2  1.0  0.0  0.3250  0.000  0.0  0.015469  1.000000  0.0  0.015469  0.132075
3  0.0  0.0  0.4375  0.125  0.0  0.103644  1.000000  0.1  0.051822  0.094340
4  1.0  1.0  0.4375  0.000  0.0  0.015713  1.000000  0.0  0.015713  0.000000

  ...    81   82   83   84   85   86   87   88   89   90
0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 91 columns]
(891, 91)
[ 1.          1.          0.27500001  0.125       0.          0.01415106
  1.          0.1         0.00707553  0.01886792  0.91463417  0.72222221
  0.94444442  0.86666667  0.75555557  0.13483146  0.          0.50561798
  0.95348835  0.15730338  0.          0.54022986  0.9775281   0.76666665
  0.87640452  0.          0.44444445  0.72222221  0.91111112  0.91111112
  0.81111109  0.93258429  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]

In [20]:
# Build a training network

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import ModelCheckpoint, EarlyStopping

model = Sequential()
model.add(Dense(512, activation='relu', input_shape=(X_train.shape[1], )))
model.add(Dropout(0.5))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(2, activation='sigmoid'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 512)               47104
_________________________________________________________________
dropout_9 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_12 (Dense)             (None, 256)               131328
_________________________________________________________________
dropout_10 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_13 (Dense)             (None, 128)               32896
_________________________________________________________________
dropout_11 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_14 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout_12 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_15 (Dense)             (None, 2)                 130
=================================================================
Total params: 219,714
Trainable params: 219,714
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Train the model
checkpointer = ModelCheckpoint(filepath=model_weights_file, verbose=1, save_best_only=True)
stopper = EarlyStopping(monitor='val_loss', min_delta=1e-4, patience=10, verbose=1, mode='auto')
hist = model.fit(X_train, y_train, epochs=50, batch_size=100, validation_split=0.2, callbacks=[checkpointer, stopper], verbose=1, shuffle=True)

Train on 712 samples, validate on 179 samples
Epoch 1/50
500/712 [====================>.........] - ETA: 0s - loss: 0.7023 - acc: 0.5280Epoch 00000: val_loss improved from inf to 0.64285, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 1s - loss: 0.6898 - acc: 0.5534 - val_loss: 0.6429 - val_acc: 0.6425
Epoch 2/50
600/712 [========================>.....] - ETA: 0s - loss: 0.6799 - acc: 0.6100Epoch 00001: val_loss improved from 0.64285 to 0.61964, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6712 - acc: 0.6222 - val_loss: 0.6196 - val_acc: 0.6425
Epoch 3/50
700/712 [============================>.] - ETA: 0s - loss: 0.6513 - acc: 0.6086Epoch 00002: val_loss improved from 0.61964 to 0.60232, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6538 - acc: 0.6053 - val_loss: 0.6023 - val_acc: 0.7430
Epoch 4/50
700/712 [============================>.] - ETA: 0s - loss: 0.6283 - acc: 0.6414Epoch 00003: val_loss improved from 0.60232 to 0.57851, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6267 - acc: 0.6447 - val_loss: 0.5785 - val_acc: 0.7709
Epoch 5/50
600/712 [========================>.....] - ETA: 0s - loss: 0.6150 - acc: 0.6733Epoch 00004: val_loss improved from 0.57851 to 0.53491, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.6071 - acc: 0.6728 - val_loss: 0.5349 - val_acc: 0.7598
Epoch 6/50
500/712 [====================>.........] - ETA: 0s - loss: 0.5797 - acc: 0.6900Epoch 00005: val_loss improved from 0.53491 to 0.50787, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5681 - acc: 0.6938 - val_loss: 0.5079 - val_acc: 0.7709
Epoch 7/50
600/712 [========================>.....] - ETA: 0s - loss: 0.5579 - acc: 0.7117Epoch 00006: val_loss improved from 0.50787 to 0.49502, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5469 - acc: 0.7261 - val_loss: 0.4950 - val_acc: 0.7598
Epoch 8/50
600/712 [========================>.....] - ETA: 0s - loss: 0.5685 - acc: 0.7483Epoch 00007: val_loss improved from 0.49502 to 0.48612, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5603 - acc: 0.7458 - val_loss: 0.4861 - val_acc: 0.7709
Epoch 9/50
600/712 [========================>.....] - ETA: 0s - loss: 0.5549 - acc: 0.7350Epoch 00008: val_loss improved from 0.48612 to 0.48477, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5490 - acc: 0.7416 - val_loss: 0.4848 - val_acc: 0.7933
Epoch 10/50
600/712 [========================>.....] - ETA: 0s - loss: 0.5570 - acc: 0.7533Epoch 00009: val_loss improved from 0.48477 to 0.46698, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5589 - acc: 0.7486 - val_loss: 0.4670 - val_acc: 0.7877
Epoch 11/50
600/712 [========================>.....] - ETA: 0s - loss: 0.5063 - acc: 0.7817Epoch 00010: val_loss improved from 0.46698 to 0.45717, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5186 - acc: 0.7725 - val_loss: 0.4572 - val_acc: 0.7933
Epoch 12/50
600/712 [========================>.....] - ETA: 0s - loss: 0.5051 - acc: 0.7783Epoch 00011: val_loss improved from 0.45717 to 0.45566, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5046 - acc: 0.7837 - val_loss: 0.4557 - val_acc: 0.8045
Epoch 13/50
600/712 [========================>.....] - ETA: 0s - loss: 0.4932 - acc: 0.7683Epoch 00012: val_loss improved from 0.45566 to 0.43538, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4883 - acc: 0.7669 - val_loss: 0.4354 - val_acc: 0.8212
Epoch 14/50
700/712 [============================>.] - ETA: 0s - loss: 0.5110 - acc: 0.7900Epoch 00013: val_loss improved from 0.43538 to 0.43175, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.5138 - acc: 0.7879 - val_loss: 0.4318 - val_acc: 0.7989
Epoch 15/50
700/712 [============================>.] - ETA: 0s - loss: 0.4867 - acc: 0.7814Epoch 00014: val_loss improved from 0.43175 to 0.43007, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4845 - acc: 0.7851 - val_loss: 0.4301 - val_acc: 0.8324
Epoch 16/50
700/712 [============================>.] - ETA: 0s - loss: 0.4830 - acc: 0.7957Epoch 00015: val_loss improved from 0.43007 to 0.42356, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4828 - acc: 0.7963 - val_loss: 0.4236 - val_acc: 0.8268
Epoch 17/50
600/712 [========================>.....] - ETA: 0s - loss: 0.4754 - acc: 0.7817Epoch 00016: val_loss improved from 0.42356 to 0.42069, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4744 - acc: 0.7851 - val_loss: 0.4207 - val_acc: 0.8268
Epoch 18/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4586 - acc: 0.8020Epoch 00017: val_loss improved from 0.42069 to 0.41909, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4570 - acc: 0.8048 - val_loss: 0.4191 - val_acc: 0.8324
Epoch 19/50
600/712 [========================>.....] - ETA: 0s - loss: 0.4531 - acc: 0.8017Epoch 00018: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4510 - acc: 0.8006 - val_loss: 0.4209 - val_acc: 0.8268
Epoch 20/50
700/712 [============================>.] - ETA: 0s - loss: 0.4508 - acc: 0.8143Epoch 00019: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4489 - acc: 0.8132 - val_loss: 0.4246 - val_acc: 0.8045
Epoch 21/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4914 - acc: 0.7960Epoch 00020: val_loss improved from 0.41909 to 0.41430, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4693 - acc: 0.8090 - val_loss: 0.4143 - val_acc: 0.8268
Epoch 22/50
600/712 [========================>.....] - ETA: 0s - loss: 0.4690 - acc: 0.7917Epoch 00021: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4721 - acc: 0.7935 - val_loss: 0.4175 - val_acc: 0.8156
Epoch 23/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4497 - acc: 0.8040Epoch 00022: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4474 - acc: 0.8076 - val_loss: 0.4162 - val_acc: 0.8101
Epoch 24/50
700/712 [============================>.] - ETA: 0s - loss: 0.4363 - acc: 0.8286Epoch 00023: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4390 - acc: 0.8272 - val_loss: 0.4157 - val_acc: 0.8101
Epoch 25/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4095 - acc: 0.8360Epoch 00024: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4241 - acc: 0.8230 - val_loss: 0.4214 - val_acc: 0.8156
Epoch 26/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4819 - acc: 0.8060Epoch 00025: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4543 - acc: 0.8174 - val_loss: 0.4253 - val_acc: 0.8045
Epoch 27/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4317 - acc: 0.8180Epoch 00026: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4351 - acc: 0.8104 - val_loss: 0.4243 - val_acc: 0.8101
Epoch 28/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4520 - acc: 0.8060Epoch 00027: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4358 - acc: 0.8174 - val_loss: 0.4197 - val_acc: 0.8156
Epoch 29/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4539 - acc: 0.8240Epoch 00028: val_loss improved from 0.41430 to 0.41314, saving model to ../output/titanic.model.best.hdf5

712/712 [==============================] - 0s - loss: 0.4525 - acc: 0.8244 - val_loss: 0.4131 - val_acc: 0.8212
Epoch 30/50
700/712 [============================>.] - ETA: 0s - loss: 0.4369 - acc: 0.8214Epoch 00029: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4361 - acc: 0.8216 - val_loss: 0.4166 - val_acc: 0.8212
Epoch 31/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4029 - acc: 0.8340Epoch 00030: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4039 - acc: 0.8272 - val_loss: 0.4311 - val_acc: 0.8101
Epoch 32/50
400/712 [===============>..............] - ETA: 0s - loss: 0.4213 - acc: 0.8150Epoch 00031: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4363 - acc: 0.8146 - val_loss: 0.4152 - val_acc: 0.8268
Epoch 33/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4116 - acc: 0.8100Epoch 00032: val_loss improved from 0.41314 to 0.41185, saving model to ../output/titanic.model.best.hdf5
712/712 [==============================] - 0s - loss: 0.4179 - acc: 0.8174 - val_loss: 0.4118 - val_acc: 0.8101
Epoch 34/50
400/712 [===============>..............] - ETA: 0s - loss: 0.4332 - acc: 0.8225Epoch 00033: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4341 - acc: 0.8258 - val_loss: 0.4288 - val_acc: 0.8045
Epoch 35/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4290 - acc: 0.8320Epoch 00034: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4201 - acc: 0.8272 - val_loss: 0.4170 - val_acc: 0.8156
Epoch 36/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4045 - acc: 0.8440Epoch 00035: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4060 - acc: 0.8413 - val_loss: 0.4209 - val_acc: 0.8101
Epoch 37/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4203 - acc: 0.8540Epoch 00036: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4186 - acc: 0.8553 - val_loss: 0.4136 - val_acc: 0.8268
Epoch 38/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4030 - acc: 0.8300Epoch 00037: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4257 - acc: 0.8216 - val_loss: 0.4179 - val_acc: 0.8045
Epoch 39/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4234 - acc: 0.8440Epoch 00038: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4140 - acc: 0.8441 - val_loss: 0.4133 - val_acc: 0.8268
Epoch 40/50
500/712 [====================>.........] - ETA: 0s - loss: 0.3876 - acc: 0.8480Epoch 00039: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.4076 - acc: 0.8287 - val_loss: 0.4233 - val_acc: 0.8101
Epoch 41/50
400/712 [===============>..............] - ETA: 0s - loss: 0.3912 - acc: 0.8450Epoch 00040: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3842 - acc: 0.8525 - val_loss: 0.4133 - val_acc: 0.8268
Epoch 42/50
500/712 [====================>.........] - ETA: 0s - loss: 0.4131 - acc: 0.8220Epoch 00041: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3960 - acc: 0.8385 - val_loss: 0.4156 - val_acc: 0.8156
Epoch 43/50
400/712 [===============>..............] - ETA: 0s - loss: 0.4016 - acc: 0.8200Epoch 00042: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3899 - acc: 0.8329 - val_loss: 0.4127 - val_acc: 0.8212
Epoch 44/50
400/712 [===============>..............] - ETA: 0s - loss: 0.3829 - acc: 0.8400Epoch 00043: val_loss did not improve
712/712 [==============================] - 0s - loss: 0.3889 - acc: 0.8469 - val_loss: 0.4216 - val_acc: 0.8156
Epoch 00043: early stopping

In [22]:
# Load the weights that yielded the best validation accuracy
model.load_weights(model_weights_file)

# Evaluate the model on the training set
score = model.evaluate(X_train, y_train)
print("\n Training Accuracy:", score[1])

891/891 [==============================] - 0s

 Training Accuracy: 0.840628508165

In [23]:
# Load test data
df_test_raw = pd.read_csv(test_file)
print(df_test_raw.shape)
df_test_raw.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [24]:
# Prepare the data for testing
df_test = prep_data(df_test_raw)
X_test = np.array(df_test)[:,:]
X_test = X_test.astype('float32')
print(X_test.shape)
print(X_test[0])

Before scaling:
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  \
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

   Family_Size  Fare_Per_Person   ...    Name72  Name73  Name74  Name75  \
0            1         7.829200   ...        32      32      32      32
1            2         3.500000   ...        32      32      32      32
2            1         9.687500   ...        32      32      32      32
3            1         8.662500   ...        32      32      32      32
4            3         4.095833   ...        32      32      32      32

   Name76  Name77  Name78  Name79  Name80  Name81
0      32      32      32      32      32      32
1      32      32      32      32      32      32
2      32      32      32      32      32      32
3      32      32      32      32      32      32
4      32      32      32      32      32      32

[5 rows x 92 columns]
After scaling:
    0    1         2      3         4         5    6    7         8   \
0  1.0  1.0  0.453947  0.000  0.000000  0.015282  0.5  0.0  0.029840
1  1.0  0.0  0.618421  0.125  0.000000  0.013663  1.0  0.1  0.013340
2  0.5  1.0  0.815789  0.000  0.000000  0.018909  0.5  0.0  0.036922
3  1.0  1.0  0.355263  0.000  0.000000  0.016908  1.0  0.0  0.033016
4  1.0  0.0  0.289474  0.125  0.111111  0.023984  1.0  0.2  0.015611

         9  ...    81   82   83   84   85   86   87   88   89   90
0  0.188679 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.415094 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.226415 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.415094 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.132075 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 91 columns]
(418, 91)
[ 1.          1.          0.45394737  0.          0.          0.01528158
  0.5         0.          0.02983973  0.18867925  0.75609756  0.85393256
  0.84444445  0.98888886  0.13333334  0.          0.5         0.94252872
  0.15555556  0.          0.49411765  0.74712646  0.89534885  0.77528089
  0.9222222   0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.        ]

In [31]:
# Predict for test data
y_test = model.predict(X_test)
print(y_test[0])

[ 0.86104864  0.21974753]

In [32]:
# Save predictions
with open(pred_file, 'w') as f:
    f.write('PassengerId,Survived\n')
    for index, y_hat in enumerate(y_test):
        prediction = np.argmax(y_hat)
        f.write(str(df_test_raw.iloc[index]['PassengerId']) + ',' + str(prediction)+'\n')
    f.close()